<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Profil Information 
        <span class="glyphicon glyphicon-pencil" style="float: right" (click)="setEditMode()"></span>
      </div>
      <div class="panel-body">
        <div *ngIf="!editMode">
          <p>{{profile?.email}} </p>         
          <p>{{profile?.name}}</p>   
        </div>
        <div *ngIf="editMode">
          <form #formData="ngForm" (ngSubmit)="editProfile(formData.value)">
            <p><input type="text" class="form-control"  placeholder="{{profile?.email}}" name="email" ngModel></p>
            <p><input type="text" class="form-control"  placeholder="{{profile?.name}}" name="name" ngModel></p>
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>

        </div>      
      </div>
    </div>
  </div>
</div>