<nav class="navbar navbar-light bg-faded">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="#">GameCrafter</a>



    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
    
    </ul>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <form class="form-inline float-xs-right">
        <a *ngIf="!isAuth" routerLink="/login"><button type="submit" class="btn btn-default">Login</button></a>   
        <button *ngIf="isAuth" type="submit" class="btn btn-default" (click)="logout()">Logout</button> 
        <a *ngIf="!isAuth" routerLink="/signup"><button type="submit" class="btn btn-default">Signup</button></a>
        <!-- Dropdown menu for personal accout -->
        <div *ngIf="isAuth" ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>{{email}}</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <button routerLink="/dashboard" class="dropdown-item">Dashboard</button>
            <button routerLink="/profile" class="dropdown-item">Profile</button>
            <button class="dropdown-item">Account</button>
            <button class="dropdown-item">Settings</button>
          </div>
        </div>


    </form>
  </div>
</nav>